---
layout: archive
---

{{ content }}

<h1>Become a data analyst (with no formal education)</h1>
<ul>
  {% for post in site.categories.blog2 reversed %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>


<h1>Blog posts</h1>
<ul>
  {% for post in site.categories.blog reversed %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>


<h1>Bookshelf</h1>
<p>Find a list of books that has inspired me <a href="https://jothamgoh.github.io/books/">here.</a></p>