---
layout: archive
---

{{ content }}

<h1>Become a data analyst (with no formal education)</h1>
<a href="https://jothamgoh.github.io/ebook/">Ebook Introduction</a>
<a href="https://jothamgoh.github.io/blog2/ebook/data-analyst-chapter-one/">Chapter one - Who is a data analyst, why read this?</a>
<a href="https://jothamgoh.github.io/blog2/ebook/data-analyst-chapter-two/">Chapter two - Why I chose to be a self-taught data analyst</a>
<a href="https://jothamgoh.github.io/ebook/">Ebook Introduction</a>
<a href="https://jothamgoh.github.io/ebook/">Ebook Introduction</a>
<a href="https://jothamgoh.github.io/ebook/">Ebook Introduction</a>

<h1>Blog posts</h1>


<h1>Bookshelf</h1>
<p>Here is a list of books that has inspired me.</p>